html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
main {
  margin: 15px auto;
  padding: 0 15px;
  text-align: center;
  /* max-width: 500px; */
}
h1,
h2,
h3 {
  margin: 20px 0;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494949;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 1px solid #d3d3d3;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

@media only screen and (max-width: 600px) {


  h1 {
    font-size: 1.5em;
  }

}