* {
  border-radius: 0 !important;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
main {
  margin: 15px auto;
  padding: 0 15px;
  text-align: center;
  /* max-width: 500px; */
}
h1,
h2,
h3 {
  margin: 20px 0;
  line-height: 1.1;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494949;
}

h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
}

  .btn {
    border: 1px solid #d3d3d3;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .product-photo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
  }
  .single-photo {
    flex: 0 0 auto;
    margin: 10px;
    border: 1px solid #d3d3d3;
    height: 150px;
    width: 150px
  }

  .single-photo-wrapper {
    width: 150px;
    height: 150px;
    background-color: aqua;
    background-image: url('/img/camera.png');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
  }

  .photo-upload {
    border: 1px solid pink;
    display: inline-block;
    cursor: pointer;
    height: 150px;
    width: 150px
  }

  img.output-photo {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
.gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: auto;
  align-content: start;
}
  .gallery img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin: 10px;
  }

@media only screen and (max-width: 600px) {


  h1 {
    font-size: 1.5em;
  }

  /* .photo-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
  } */
  /* .single-photo:nth-child(odd) {
    margin-left: 0;
  }
  .single-photo:nth-child(even) {
    margin-left: 0;
  } */

}